$anki-easing: cubic-bezier(0.42, 1.67, 0.21, 0.90);
$expressive-fast-effects: cubic-bezier(0.31, 0.94, 0.34, 1.00); // .15s
$expressive-default-effects: cubic-bezier(0.34, 0.80, 0.34, 1.00);  // .2s
$expressive-slow-effects: cubic-bezier(0.34, 0.88, 0.34, 1.00); // .3s

$expressive-fast-spatial: cubic-bezier(0.42, 1.67, 0.21, 0.90); // .35s
$expressive-default-spatial: cubic-bezier(0.38, 1.21, 0.22, 1.00);  // .5s
$expressive-slow-spatial: cubic-bezier(0.39, 1.29, 0.35, 0.98); // .65s

@keyframes shrink {
  0% {
    transform: scale(105%);
  }

  100% {
    transform: scale(100%);
  }
}


@keyframes fade-in {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


/* Animation stuff ----------------------------------------------------------------- */
@keyframes slide-in {
  from {
    scale: 90% 100%;
    opacity: 50%;
  }
  to {
    translate: 0 0;
    scale: 100%;
  }
} 

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(1px);
  }
  to {
    backdrop-filter: blur(2px);
  }
}
