/* Tag stuff ---------------------------------------------------------- */
/* Tag in editor */
.cm-hashtag {
    box-shadow: inset 0 1px var(--tag-border-color), 
    0 1px var(--tag-background);
}

/* Tag as property */
.metadata-property[data-property-key="tags"] .multi-select-pill {
  box-shadow: inset 0 1px var(--pill-border-color);
  line-height: 1.01;
  padding: calc(var(--pill-padding-y) + 1px) 0 var(--pill-padding-y);
}